<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27232467303-5lrmsmbgk0mflvvfejhh9isnej0i069b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27232467303-5lrmsmbgk0mflvvfejhh9isnej0i069b</string>
	<key>API_KEY</key>
	<string>AIzaSyB_gb7C7h0Bt2O08P27FajnIizdEjWLj40</string>
	<key>GCM_SENDER_ID</key>
	<string>27232467303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studioKaori.TicketPicker</string>
	<key>PROJECT_ID</key>
	<string>ticket-picker-aa75e</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-picker-aa75e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27232467303:ios:9eee4951bfb3b68ec057c2</string>
</dict>
</plist>